@import url("tokens.css");
.nav-hero {
  display: grid;

  width: 100%;
  min-height: 98dvh;
}
.foot-hero {
  display: grid;

  width: 100%;
  min-height: 49dvh;
}
.time {
  font-size: var(--font-size-base);
  font-weight: 500;
  color: var(--text-secondary);
  justify-self: start;
  align-self: start;
}
.time__value {
  color: var(--text-primary);
}
.nav-hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.foot-hero__content {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
}
.brand {
  width: max-content;
  font-size: var(--font-size-5xl);
  font-weight: 700;
  color: var(--text-primary);
  letter-spacing: 1px;
}
.nav-hero__description {
  width: 200px;
  color: var(--text-secondary);
  font-size: 14px;
  text-align: end;
}
.foot-hero__description {
  width: 200px;
  color: var(--text-secondary);
  font-size: 14px;
  text-align: start;
}
