<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Регистрация</title>
  <link rel="stylesheet" href="../static/css/register.css">
  
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
    <div class="register-window">
    <h1 class="register-window__title">Регистрация</h1>

    <form hx-post="/register" hx-target="#register-result" hx-swap="innerHTML">
        
        <div class="register-window__field">
        <label class="register-window__label" for="name">Имя</label>
        <input class="register-window__input" type="text" id="name" name="name" placeholder="Введите имя" required />
        </div>

        <div class="register-window__field">
        <label class="register-window__label" for="email">Почта</label>
        <input class="register-window__input" type="email" id="email" name="email" placeholder="Введите почту" required />
        </div>

        <div class="register-window__field">
        <label class="register-window__label" for="password">Пароль</label>
        <input class="register-window__input" type="password" id="password" name="password" placeholder="Придумайте пароль" required />
        </div>

        <div id="register-result" style="margin-bottom: 15px; text-align: center;"></div>

        <div class="register-window__actions">
        <button class="register-window__submit" type="submit">Создать аккаунт</button>
        
        <button class="register-window__yandex" type="button" title="Зарегистрироваться через Яндекс">
            <img src="../static/media/sistem-media/yandex.png" alt="Яндекс" class="register-window__yandex-icon" />
        </button>
        </div>
    </form>

    <p class="register-window__footer">
        <span class="register-window__footer-text">Уже есть аккаунт?</span> 
        <a class="register-window__link" href="/login">Войти</a>
    </p>
    </div>
</body>
</html>